<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ir.aspacrm.my.app.mahan.G">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--<uses-permission android:name="android.permission.CALL_PHONE"/>-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:name="ir.aspacrm.my.app.mahan.G.G"
            android:supportsRtl="false"
            android:theme="@style/AppTheme">
        <activity android:name="ir.aspacrm.my.app.mahan.G.ActivityStarter"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="ir.aspacrm.my.app.mahan.G.ActivitySearchISP" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name="ir.aspacrm.my.app.mahan.G.ActivityLogin" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name="ir.aspacrm.my.app.mahan.G.ActivityMain" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden" android:launchMode="singleTask"/>
        <activity android:name="ir.aspacrm.my.app.mahan.G.ActivityPayments" android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing|stateAlwaysHidden"/>
        <activity android:name="ir.aspacrm.my.app.mahan.G.ActivityShowFactors" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name="ir.aspacrm.my.app.mahan.G.ActivityShowConnections" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name="ir.aspacrm.my.app.mahan.G.ActivityShowTickets" android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing|stateAlwaysHidden"/>
        <activity android:name="ir.aspacrm.my.app.mahan.G.ActivityShowTicketDetails" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name="ir.aspacrm.my.app.mahan.G.ActivityShowGraph" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name="ir.aspacrm.my.app.mahan.G.ActivityShowUserInfo" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name="ir.aspacrm.my.app.mahan.G.ActivityShowNews" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name="ir.aspacrm.my.app.mahan.G.ActivityShowNotify" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name="ir.aspacrm.my.app.mahan.G.ActivityChargeOnline" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name="ir.aspacrm.my.app.mahan.G.ActivityShowFeshfeshe" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name="ir.aspacrm.my.app.mahan.G.ActivityShowClubScores" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name="ir.aspacrm.my.app.mahan.G.ActivityShowFactorDetail" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name="ir.aspacrm.my.app.mahan.G.ActivityRegister" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>

        <!-- Receiver -->
        <receiver android:name="ir.aspacrm.my.app.mahan.G.classes.CheckNotification" android:enabled="true"/>
        <receiver
                android:name="ir.aspacrm.my.app.mahan.G.classes.NetworkChangeReceiver"
                android:label="NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver android:name="ir.aspacrm.my.app.mahan.G.classes.BootCompleteReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <!--initialize ActiveAndroid DB-->
        <meta-data android:name="AA_DB_NAME" android:value="Local.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1"/>
        <meta-data
                android:name="AA_MODELS"
                android:value="
                .model.User,
                .model.Account,
                .model.ClubScore,
                .model.Connection,
                .model.Factor,
                .model.FactorDetail,
                .model.Feshfeshe,
                .model.Graph,
                .model.Info,
                .model.License,
                .model.News,
                .model.Notify,
                .model.Payment,
                .model.Ticket,
                .model.TicketDetail
                .model.Unit"/>
    </application>
</manifest>
